body {
	background-color:#95bbd5;
}

H1{
   height: 50; 
   width: 90%; 
   background-color: #3E58FF;
   font: verdana; 
   color:   #000000
 }

header {
   width: 1000px;
   height: 50px;
   background-color: #59AFFF;
   font-family: verdana; 
   color: #ffffff;
   font-size: 30px;
   float: left;
}

article {
   width: 1000px;
   height: 600px;
   background-color: #59AFFF;
   font-family: verdana;
   font-size: 15px;
   color: #000000;
   float: left;
}

#article2 {
   width: 600px;
   height: 600px;
   background-color: #59AFFF;
   font-family: verdana;
   font-size: 15px;
   color: #000000;
   float: left;
}

footer {
   width: 90%;
   height: 50px;
   clear:both;
}

header, article, picture, #article2, footer {
	border:1px solid grey;
	background-color:#59AFFF;
	margin: 5px;
}