

.background-image {
   background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lottezaaijer.nl%2Foostpoort-delft%2F&psig=AOvVaw14R61H29EUg6SIm4avhzX6&ust=1706135644523000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCJiy8ezI9IMDFQAAAAAdAAAAABAD.jpg');
   background-size: cover; 
   background-position: center; 
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center; }

H1{
   height: 50; 
   width: 90%; 
   background-color: rgb(83, 162, 214);
   font: verdana; 
   color:   #000000
 }

header {
   width: 1000px;
   height: 50px;
   background-color: #ffffff;
   font-family: verdana; 
   color: #000000;
   font-size: 30px;
   float: left;
}

article {
   width: 1000px;
   height: 600px;
   background-color: #ffffff;
   font-family: verdana;
   font-size: 15px;
   color: #000000;
   float: left;
}

#article2 {
   width: 600px;
   height: 600px;
   background-color: #ffffff;
   font-family: verdana;
   font-size: 15px;
   color: #000000;
   float: left;
}


footer {
   width: 90%;
   height: 50px;
   clear:both;
}

header, article, picture, #article2, footer {
	border:1px solid rgb(83, 162, 214);
	background-color:#ffffff;
	margin: 5px;
}